body {
font-family: "Segoe UI", Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
}
.content, #app {
  height: 100%;
}
#app .win-splitviewpanetoggle {
    float: left;
  }

  /* SplitView pane content style*/
  #app .header {
    white-space: nowrap;
  }
  #app .zion-header {
    white-space:nowrap;
    margin-top:8px;
    margin-bottom:8px;
  }
  #app .title {
    font-size: 25px;
    left: 50px;
    margin-top: 6px;
    vertical-align: middle;
    display: inline-block;
  }

  #app .nav-commands {
    margin-top: 20px;
  }

.win-navbarcommand-button {
    background-color: transparent;
}

#app .win-splitview-pane-hidden .win-navbarcommand-button {
    width: 46px;
}

#app .win-splitview-pane-hidden .win-navbarcommand-label {
    /* Workaround: Make sure pane doesn't scroll if ContentDialog restores focus to
       NavBarCommand's label
    */
    visibility: hidden;
}

/*SplitView content style*/
#app .win-splitview-content {
    background-color: rgb(252,252,252);
}

#app .contenttext {
    margin: 20px;
/*    margin-top: 6px;*/
    height:100%;
/*    overflow-y:scroll;*/
}
#content {
	text-align: center;
}

.basicToolbar {
  width: 100%;
}

.status {
	margin-top: 12px;
}

.smallListIconTextItem
{
    width: 100%;
    height: 70px;
    padding: 5px;
    overflow: hidden;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

    .smallListIconTextItem img.smallListIconTextItem-Image 
    {
        width: 60px;
        height: 60px;
        margin: 5px;
        margin-right:20px;
    }

    .smallListIconTextItem .smallListIconTextItem-Detail
    {
        margin: 5px;
    }

/* CSS applied to the ListViews in this sample */
.listView
{
}
.win-viewport{
    -ms-overflow-style: scrollbar;
}
/* Override the background color for even/odd win-containers */
.listView .win-container.win-container-odd {
    background-color: #777;
}

.listView .win-container.win-container-even {
    background-color: #444;
}

.zion-page-host {
  /*    width: 100%;*/
  /*    padding-top: 30px;*/
}

  .zion-page-host h2 {
    font-size: medium;
  }
.zion-display-none {
  display:none;
}
#statusMessage
{
    position: fixed;
    width: 100%;
    background-color: rgb(29, 29, 29);
    margin-bottom:5px;
    color: green;
}
div.zion-split-seperator {
  float: left;
  height: 32px;
  width: 48px;
}