.win-type-header,
.win-type-subheader,
.win-type-title,
.win-type-subtitle,
.win-type-base,
.win-type-body,
.win-type-caption,
.win-h1,
.win-h2,
.win-h3,
.win-h4,
.win-h5,
.win-h6,
.win-button,
.win-dropdown,
.win-textbox,
.win-link,
.win-textarea {
  font-family: "Segoe UI", Tahoma, Helvetica, Arial, "Microsoft Yahei Light", "Microsoft Yahei", sans-serif;
}
body {
  font-family: "Segoe UI", Tahoma, Helvetica, Arial, "Microsoft Yahei Light", "Microsoft Yahei", sans-serif;
}
.content,
#app {
  height: 100%;
}

#app .win-splitviewpanetoggle {
  float: left;
}

/* SplitView pane content style*/
#app .header {
  white-space: nowrap;
}

#app .title {
  font-size: 25px;
  left: 50px;
  margin-top: 6px;
  vertical-align: middle;
  display: inline-block;
}

#app .nav-commands {
  margin-top: 14px;
}

.win-navbarcommand-button {
  background-color: transparent;
}

#app .win-splitview-pane-hidden .win-navbarcommand-button {
  width: 46px;
}

#app .win-splitview-pane-hidden .win-navbarcommand-label {
  /* Workaround: Make sure pane doesn't scroll if ContentDialog restores focus to
       NavBarCommand's label
    */
  visibility: hidden;
}
#app .win-splitview{

}
/*SplitView content style*/
#app .win-splitview-content {
  background-color: rgb(252,252,252);
  height: auto;
}
#app .win-splitview .win-splitview-contentwrapper{
  overflow-y:auto;
}
#app .contenttext {
  margin-left: 20px;
}
#app .zion-header {
  white-space: nowrap;
  margin-top: 8px;
  margin-bottom: 8px;
}
.zion-display-none {
  display:none;
}
.zion-split-seperator {
  float: left;
  height: 32px;
  width: 48px;
}
.zion-fragment {
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 40px 1fr;
  display: -ms-grid;
}

.zion-fragment .zion-section[role=main] {
  -ms-grid-row: 2;
}