.addinglowerequip section {
	margin: auto 0;
}

.phone .addinglowerequip .page-section {
	margin: auto 24px;
}

.phone .addinglowerequip .page-header .titlearea {
	-ms-grid-column: 1;
	margin-top: 37px;
	margin-left: 24px;
	font-size: 28pt;
	width: calc(100vw - 20px);
}

.phone .addinglowerequip .back-button {
	display: none;
}

.fragment {
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 128px 1fr;
  display: -ms-grid;
  height: 100%;
  width: 100%;
}

.fragment section[role=main] {
  -ms-grid-row: 2;
  height: 100%;
}
#lower-equip-params li
{
	list-style: none;
}

#lower-equip-params
{
	display: inline-block;
  -webkit-padding-start: 0px;
}

#lower-equip-params label
{
	width: 8em;
	margin-right: 0.5em;
	float: left;
	text-align: right;
}

#lower-equip-params input[type="text"] {
  width: 12em;
}

.zion-stretch-box {
  overflow: hidden; /* Creates a new block format context, which will make this tag fill the remaining width */
}

