.toolbar {
  height:100%;
}
.toolbar section {
	margin: auto 0px;
}

.phone .toolbar .page-section {
	margin: auto 0px;
}

.phone .toolbar .page-header .titlearea {
	-ms-grid-column: 1;
	margin-top: 37px;
	margin-left: 24px;
	font-size: 28pt;
	width: calc(100vw - 20px);
}

.phone .toolbar .back-button {
	display: none;
}

.fragment {
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 128px 1fr;
	display: -ms-grid;
}

	.fragment section[role=main] {
		-ms-grid-row: 2;
    height:100%;
	}
  /* Template for the items in the ListViews in this sample */
.smallListIconTextItem {
  width: 100%;
  height: 70px;
  padding: 5px;
  overflow: hidden;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.smallListIconTextItem img.smallListIconTextItem-Image {
  width: 60px;
  height: 60px;
  margin: 5px;
  margin-right: 20px;
}

.smallListIconTextItem .smallListIconTextItem-Detail page-section {
  margin: 0px;
}
#zion-fields {
  height:auto;
}
#zion-fields > .win-viewport.win-vertical {
  overflow-y:hidden;
}
/* CSS applied to the ListViews in this sample */
.listView{

}

.win-viewport{
    -ms-overflow-style: scrollbar;
}
.zion-fields-item
{
    width: 242px;
    overflow: hidden;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
#zion-field-target {
  padding: 4px 8px;
}