.batchadddsequip section {
}

.fragment {
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 128px 1fr;
  display: -ms-grid;
  width: 100%;
}

.fragment section[role=main] {
  -ms-grid-row: 2;
}

.zion-fields-item {
  width: 242px;
  overflow: hidden;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

#zion-field-target {
  padding: 4px 8px;
}

#zion-fields {
  height: auto;
}

#zion-fields > .win-viewport.win-vertical {
  overflow-y: hidden;
}
