.homepage section {
  margin: auto 120px;
}

.fragment {
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 128px 1fr;
  display: -ms-grid;
  height: 100%;
  width: 100%;
}

.fragment section[role=main] {
  -ms-grid-row: 2;
  height: 100%;
}
