.batchadddsequip section {
/*  margin:0 auto !important;
  max-width: 1024px;*/
}

.phone .batchadddsequip .page-section {
  margin: auto 24px;
}
.phone .batchadddsequip .page-header .titlearea {
  -ms-grid-column: 1;
  margin-top: 37px;
  margin-left: 24px;
  font-size: 28pt;
  width: calc(100vw - 20px);
}

.phone .batchadddsequip .back-button {
  display: none;
}

.fragment {
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 128px 1fr;
  display: -ms-grid;
  height: 100%;
  width: 100%;
}

.fragment section[role=main] {
  -ms-grid-row: 2;
  height: 100%;
}

.zion-fields-item {
  width: 242px;
  overflow: hidden;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
#zion-field-target {
  padding: 4px 8px;
}
#zion-fields {
  height:auto;
}
#zion-fields > .win-viewport.win-vertical {
  overflow-y:hidden;
}